@use '../base/variables' as *;


@mixin font-size($sizeValue: 12 ){
    font-size: $sizeValue + px; //fallback for old browsers
    font-size: (0.0625 * $sizeValue) + rem;
}

@mixin line-height($heightValue: 20 ){
    line-height: $heightValue + px; //fallback for old browsers
    line-height: (0.0625 * $heightValue) + rem;
}

@mixin font($sizeValue: 12, $heightValue: 20) {
    @include font-size($sizeValue);
    @include line-height($heightValue);
}

@for $i from 1 through 12 {
    [data-grid-columns='#{$i}'] {
        display: grid;
        grid-template-columns: repeat($i, 1fr);

        &.responsive--one-column {
            @media only screen and (max-width: 768px) {
                grid-template-columns: 1fr;
            }
        }
    }
}

