<section class="offers bg--white-grey-400 py-md-100 py-xs-50">
    <div class="wrapper wrapper--xl">
        <div class="offers__lower">
            <div class="row flex-md-wrap flex-nowrap g-4">
                {{ collection from="products_home" }}
                    <div class="col-xl-4 col-md-6">
                        <a href="{{ url }}" class="d-block offer bg--white">
                            <div class="offer__type bg--orange-100 d-inline-flex">
                                <div class="h2 text--uppercase color--white-100">
                                    {{ type }}
                                </div>
                            </div>

                            <div class="offer__content">
                                <div class="offer__image bg--orange-100">
                                    <img src="{{ foto }}" class="d-flex" alt="{{ foto:alt }}">

                                    {{ if extra_info }}
                                        <div class="offer__label bg--green-100">
                                            <span class="d-block color--white">
                                                {{ extra_info }}
                                            </span>
                                        </div>
                                    {{ /if }}
                                </div>

                                <div class="cms-output color--grey-100 mt-xs-30">
                                    <h2 class="color--green-100">
                                        {{ title }}
                                    </h2>

                                    <div class="cms-output mt-xs-10 d-md-block d-none">
                                        {{ omschrijving }}
                                    </div>

                                    <div class="offer__specs mt-md-50 mt-xs-30 d-md-block d-none">
                                        {{ maten }}

                                        <div class="offer__price">
                                            <strong class="color--grey-100">
                                                {{ prijs }}
                                            </strong>
                                        </div>
                                    </div>

                                    <div class="offer__btn d-flex justify-content-md-end mt-xs-30">
                                        <div class="btn bg--green-100 bg--pattern color--white">
                                            <span class="d-md-block d-none">
                                                Bekijk
                                            </span>

                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {{ /collection }}
            </div>
        </div>
    </div>
</section>
