<section class="quote">
    <div class="wrapper">
        <div class="row offset-md-2">
            <div class="col-md-10">
                <div class="quote__inner d-flex align-items-start">
                    <svg data-name="Laag 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 181 169"> <defs> </defs> <g data-name="Laag 2"> <g> <polygon class="cls-1" points="114.55 0 77.67 0 0 169 37.26 169 114.55 0"></polygon> <polygon class="cls-1" points="181 0 144.12 0 66.45 169 103.7 169 181 0"></polygon> </g> </g> </svg>

                    <div class="cms-output">
                        <div class="h2 text--uppercase">
                            {{ quote_content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
