<section class="usps">
    <div class="wrapper">
        <div class="usps__items">
            {{ items }}
                <div class="usp">
                    <img src="{{ image }}" alt="{{ image:alt }}">

                    <div class="usp__content cms-output mt-md-30 mt-xs-20">
                        <strong>
                            {{ content }}
                        </strong>
                    </div>
                </div>
            {{ /items }}
        </div>
    </div>
</section>
