// Header
@use '../base/variables' as *;
@use '../components/buttons' as *;
@use '../mixins/responsive' as *;
@use '../mixins/font-size' as *;

header {
    position: sticky;
    top: 0;
    z-index: 20;
}

.header__logo {

    img {
        width: auto;
        height: 65px;

        @media (max-width: 1634px) {
            height: 25px;
        }
    }
}

.header-top__nav {

    ul {
        gap: 0.5rem;

        li {

            &:not(:nth-last-child(1 )) {

                &::after {
                    @include font(21, 28);
                    margin: 0 0 0 .5rem;
                    font-family: $font-content-alternative; // Ja dit moest ff zo, omdat ik die Commuter font Ali Illegali heb gedownload. Anders zie je rare tekens ipv slashes.
                    font-weight: 900;
                    color: $grey-300;
                    letter-spacing: 3px;
                    content: '//';
                }
            }
        }
    }

    a {
        text-transform: uppercase;
        font-family: $font-content-extra-bold;
        letter-spacing: 0.125rem;
    }

    @media (max-width: 1634px) {
        display: none;
    }
}

.header__cart {
    height: 1.875rem;
    margin: 0 0 0 2rem;

    svg {
        width: 1.5rem;
        height: 1.5rem;

        path {
            fill: $grey-300;
        }
    }

    span {
        transform: translateY(.25rem) translateX(.25rem);
    }
}

.header-bottom__inner {

    @media (max-width: 1634px) {
        justify-content: flex-end;
    }
}

.header-bottom__nav-left {

    ul {
        gap: .5rem;

        li {
            gap: .5rem;
            position: relative;

            a {
                letter-spacing: 1px;
            }

            &:not(:nth-last-child(1)) {

                &::after {
                    display: inline-block;
                    font-family: $font-content-alternative;
                    font-weight:900;
                    color: $green-100;
                    letter-spacing: 3px;
                    content: '//';
                }
            }
        }
    }

    @media (max-width: 1634px) {
        display: none;
    }
}

.header-bottom__nav-right {
    gap: 1.5rem;

    @media (max-width: 1634px) {
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
    }
}

.header-bottom {

    //@media (max-width: 768px) {
    //    display: none;
    //}
}

.header__cta-buttons {
    gap: 1rem;

    li {
        position: relative;

        a {
            font-family: $font-content-extra-bold;

            svg {
                max-width: 1rem;
                height: .75rem;

                path {
                    fill: $green-100;
                }
            }

            @media (max-width: 1680px) {
                @include font(14,20);
            }

            @media (max-width: 1366px) {
                padding: .25rem 1rem;
            }
        }

        &::before {
            position: absolute;
            z-index: 0;
            content: '';
        }

        &::after {
            position: absolute;
            inset: 0;
            transform: skewX(-20deg);
            z-index: 0;
            content: '';
        }

        &:nth-child(1) {

            a {
                color: $white;
            }

            &::after {
                background-color: $orange-100;
            }
        }

        &:nth-child(2) {

            a {
                color: $orange-100;
            }

            &::after {
                background-color: $white;
            }
        }

        &:nth-child(3) {

            a {
                color: $green-100;
            }

            &::before {
                inset: 0 -.5rem 0 auto;
                width: 50%;
                background-color: $white;

                @media (max-width: 991px) {
                    inset: 0 .25rem 0 auto;
                }
            }

            &::after {
                background-color: $white;

                @media (max-width: 991px) {
                    width: 65%;
                }
            }
        }
    }
}

.header__language {
    position: relative;

    ul {
        position: absolute;
        top: calc(100% - 10px);
        left: 0;
        right: 0;
        transition: all 350ms ease;
        opacity: 0;
        pointer-events: none;

        li {
            padding: 0 .5rem;

            img {
                height: 1.25rem;

                @media (max-width: 1366px) {
                    height: .75rem;
                }
            }

            &.is-active {
                display: none;
            }

            @media (max-width: 1366px) {
                padding: 0 .25rem;
            }
        }

        &.is-active {
            top: calc(100% - 2px);
            opacity: 1;
            pointer-events: all;
        }
    }
}

.header__language-selected {
    gap: .5rem;
    padding: .5rem;
    cursor: pointer;

    a {
        display: flex;

        img {
            height: 1.25rem;

            @media (max-width: 1366px) {
                height: .75rem;
            }
        }

        &:not(.is-active) {
            display: none;
        }
    }

    svg {
        max-width: 1.5rem;
        height: 1.25rem;
        transition: all 350ms ease;
        pointer-events: none;

        path {
            fill: $green-100;
        }
    }

    &.is-active {

        svg {
            transform: scaleY(-1);
        }
    }

    @media (min-width: 1679px) {
        height: calc(100% - 1rem);
    }

    @media (max-width: 1366px) {
        padding: 0.1rem 0.25rem
    }
}

.header__menu-btn {
    margin-left: 1rem;

    svg {
        width: 2rem;
        height: 2rem;

        path {
            fill: $green-100;
        }
    }

    @media (min-width: 1635px) {
        display: none;
    }
}

.mobile-menu {
    position: fixed;
    inset: 7.85rem 0 0;
    padding: 2rem 0;
    z-index: 20;
    overflow: auto;
    transition: all 350ms ease;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-100px);

    ul {
        gap: 1.5rem;

        li {
            position: relative;
            width: 100%;

            &::before {
                @include font(21, 28);
                margin: 0 0 0 .5rem;
                font-family: $font-content-alternative;
                font-weight: 900;
                color: $green-100;
                letter-spacing: 3px;
                content: '//';
            }
        }
    }

    &.is-active {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;

    }

    @media (min-width: 1635px) {
        display: none;
    }

    @media (min-width: 1367px){
        inset: 9.4rem 0 0;
    }

    @media (min-width: 769px) and (max-width: 1366px ){
        inset: 8.5rem 0 0;
    }
}
