// CMS output
@use '../base/variables' as *;
@use '../mixins/responsive' as *;
@use '../mixins/font-size' as *;

.cms-output {
    @include font(20, 32);
    color: $grey-200;

    &.intro {
        @include font(20, 32);
        font-weight: 500;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0;
        letter-spacing: 1px;
        font-family: $font-content-bold;

        strong {
            color: $grey-200;
        }
    }

    p {

        &:not(:nth-last-child(1)) {
            margin: 0 0 1rem;
        }

        &:nth-last-child(1) {
            margin: 0;
        }
    }

}
