// CMS output
@use '../base/variables' as *;
@use '../base/backgrounds' as *;
@use '../components/buttons' as *;
@use '../mixins/responsive' as *;
@use '../mixins/font-size' as *;

.cms-output {
    @include font(20, 32);
    color: $grey-200;
    font-weight: 300;
    font-family: $font-content-regular;

    &.intro {
        font-weight: 500;
    }

    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
        margin-bottom: 0;
        letter-spacing: 1px;
        font-family: $font-content-bold;

        strong {
            color: $grey-100;
        }
    }

    h3 {
      @include font(22, 30);
    }

    strong {
        color: $green-100;
        font-family: $font-content-bold;
    }

    a[title='button'] {
        @extend .bg--green-100;
        @extend .bg--pattern;
        @extend .btn;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: $white;

        &:not(:nth-last-child(1)) {
            @media (max-width: 768px) {
                margin-bottom: 1rem;
            }
        }

        @media (max-width: 768px) {
            width: calc(100% - 4rem);
        }
    }

    a:not([title]) {
        color: $green-100;
    }

    p {

        &:not(:nth-last-child(1)) {
            margin: 0 0 1rem;
        }

        &:nth-last-child(1) {
            margin: 0;
        }
    }

    ul {
        margin: 1rem 0;
        padding: 0;
        list-style: none;

        li {
            &:not(:nth-last-child(1)) {
                margin-bottom: .01rem;
            }

            &::before {
                display: inline-block;
                font-family: $font-content-alternative;
                font-weight: bold;
                color: $grey-200;
                content: '//';
            }
        }

        &.d-flex {
            gap: .5rem;
            margin: 0;

            li {

                a {
                    color: $white;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &::before {
                    margin-right: .5rem;
                }
            }
        }
    }

    @media (max-width: 991px) {
        @include font(16, 32);
    }
}
