// Typography
@use './variables' as *;
@use '../mixins/responsive' as *;
@use '../mixins/font-size' as *;

.font--alternative {
    font-family: $font-content-alternative;
}

.text--uppercase {
    text-transform: uppercase;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin: 0;
    font-family: $font-content-bold;
    color: $green-100;
    letter-spacing: 0.02rem;
}


h1,
.h1 {
    font-size: clamp(1.5rem, 1.5vw, 2rem);
    line-height: clamp(2rem, 1.5vw, 3rem);

    @media(min-width: 1367px) {
        font-size: 2vw;
        line-height: 2.5vw;
    }

}

h2,
.h2 {
    @include font(24, 32);


    @media(min-width: 1635px) {
        font-size: 1.25vw;
        line-height: 1.75vw;
    }

    @media(max-width: 768px) {
        @include font(22, 28);
    }
}

h3,
.h3 {
    font-size: 1.025rem;
    line-height: 1.5rem;

    @media(min-width: 1635px) {
        font-size: 0.75vw;
        line-height: 1vw;
    }
}
